boto3==1.28.3
botocore==1.31.3
click==7.1.2
dnspython==2.3.0
email-validator==1.1.2
fastapi==0.62.0
h11==0.14.0
idna==3.4
jmespath==1.0.1
mangum==0.17.0
pydantic==1.10.11
PyJWT==1.7.1
python-dateutil==2.8.2
python-decouple==3.3
s3transfer==0.6.1
six==1.16.0
starlette==0.13.6
typing_extensions==4.7.1
urllib3==1.26.16
uvicorn==0.12.3
